.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button {
    font-weight: 700;
    background-color: hsl(0, 92%, 72%);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 2rem;
    border-radius: 50%;
    font-size: 16px;
    line-height: 38px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    cursor: pointer;
    border-color: hsl(0, 92%, 72%);
    border-width: 3px;
    outline: none;
}

.button ul {
    padding-inline-start: 0;
}

.button ul li {
    list-style: none;
    text-indent: 0;
}

/* 
.button::before {
    content: url('');
}

.button ul li:nth-child(2) {
    background-image: url('src/assets/icon_drums_bw.png');
    background-repeat: no-repeat;
    background-position: center;
}

.button ul li:nth-child(3) {
    background-image: url('src/assets/icon_piano_bw.png');
    background-repeat: no-repeat;
    background-position: center;
}

.button ul li:nth-child(4) {
    background-image: url('src/assets/icon_violin_bw.png');
    background-repeat: no-repeat;
    background-position: center;
}
 */

.button:hover {
    border-color: hsl(0, 70%, 55%);
    border-width: 3px;
    outline: none;
}