.item-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
}

.item-sounds {
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 92%, 72%);
    margin: 2em;
    padding: 3em 1em;
    text-align: center;
    cursor: pointer;
}


